<mat-toolbar color="primary">
    <span>
      <a routerLink="/">List of Users</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">Add User</a>
      </li>
    </ul>
  </mat-toolbar>
  