<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="name"
          [ngModel]="post?.name"
          required
          minlength="3"
          placeholder="Your full name"
          #name="ngModel">
        <mat-error *ngIf="name.invalid">Please enter a Name.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input 
            matInput  
            name="email"
            [ngModel]="post?.email"
            required
            placeholder="abc@example.com"
            #email="ngModel"
            >
        <mat-error *ngIf="email.invalid">Please enter a email.</mat-error>
      </mat-form-field>


        <mat-form-field>
            <input type="text"
              matInput
              name="mobile"
              [ngModel]="post?.mobile"
              required
              placeholder="Mobile Number"
              maxlength="10"
              #mobile="ngModel">
            <mat-error *ngIf="mobile.invalid">Please enter a mobile number.</mat-error>
        </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          rows="4"
          name="address"
          [ngModel]="post?.address"
          required
          placeholder="Your permanent address"
          #address="ngModel"></textarea>
        <mat-error *ngIf="address.invalid">Please enter an address.</mat-error>
      </mat-form-field>
      
      <button
        mat-raised-button
        color="accent"
        type="submit">Save Post</button>
    </form>
  </mat-card>
  