<mat-accordion multi="true" *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        {{ post.name }}
      </mat-expansion-panel-header>
        <p>Email: &ensp; {{post.email}} </p><br>
        <p>Mob: &ensp; {{post.mobile}} </p><br>
      <p>Address: &ensp; {{ post.address }}</p>

      <mat-action-row>
        <button mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</button>
        <button mat-button color="warn"  (click)="onDelete(post.id)">DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="info-text mat-body-1" *ngIf="posts.length <= 0">No posts added yet!</p>
  